@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
$black-color: #000000;

body {
    font-family: 'Mulish', 'Courier New', Courier, monospace;
}

header {
    height: 100px;
    padding: 20px;
    display: block;

    div:nth-child(1) {
        float: left;
    }

    div:nth-child(2) {
        float: right;
        a {
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            color: $black-color;
        }
    }
}